@media screen and (min-width: 768px) {
  .hide-desk {
    display: none;
  }

  .show-desk {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .hide-mob {
    display: none;
  }

  .show-mob {
    display: block;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 570px) {
  html {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 767px) {
  html {
    font-size: 1.6rem;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  width: 100%;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #272a31;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.btn {
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #ec5242;
  color: white;
  border: none;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.btn-1 {
  display: flex;
  flex-direction: row;
  padding: 1rem 12rem;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #272a31;
  font-weight: 400;
  margin-bottom: 2rem;
}

.btn-1 span {
  margin-left: 0.5rem;
  font-weight: 600;
  color: #ec5242;
}

.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 200px;
  padding: 2rem 1rem 0 1rem;
}

.footer__logo {
  width: 50%;
}

@media screen and (max-width: 570px) {
  .footer__logo {
    width: 30%;
  }
}

.footer__logo-img {
  width: 200px;
}

@media screen and (min-width: 320px) {
  .footer__logo-img {
    width: 110px;
  }
}

.footer__text {
  font-size: 0.5rem;
}

@media screen and (min-width: 320px) {
  .footer__text {
    padding-left: 0.2rem;
    font-size: 0.45rem;
  }
}

.head {
  height: 65vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../assets/top-bg.jpg");
  background-size: 100%;
  background-position: center;
}

.head-top {
  padding: 0 1rem;
}

.head-top__text-1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ec5242;
  margin-top: -0.4rem;
}

.head-top__text-2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 2.5rem;
  text-align: left;
  background-image: url("../assets/text-cut2.jpg");
  background-size: 50%;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  display: inline-block;
}

.head-top__description {
  border: 3px solid transparent;
  margin-top: 1.5rem;
  padding: 1rem;
  background-color: #f5f5f5;
  color: #272a31;
  line-height: 1.8rem;
}

.head-top__date {
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
}

.head-top__date span {
  font-weight: 900;
  font-size: 1.9rem;
  color: #272a31;
}

.head-top__date p {
  font-size: 1.2rem;
  color: #272a31;
  font-weight: 400;
}

.main__organizers {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main__organizers-body {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5rem;
}

.main__organizers-image {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 12rem;
  padding-right: 1rem;
}

.main__organizers-image-1 {
  width: 100%;
  grid-row: 1 / 5;
  grid-column: 1 / 5;
}

.main__organizers-image-2 {
  width: 100%;
  grid-row: 2 / 9;
  grid-column: 2 / 9;
}

@media screen and (min-width: 768px) {
  .main__organizers-image {
    width: 7rem;
    height: 7rem;
  }
}

.main__organizers-text {
  width: 100%;
  line-height: 1.1rem;
}

.main__organizers-header {
  font-size: 1rem;
  padding-top: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .main__organizers-header {
    font-size: 0.8rem;
    padding-top: 0.4rem;
  }
}

.main__organizers-sub {
  font-size: 0.7rem;
  color: #ec5242;
  position: relative;
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .main__organizers-sub {
    font-size: 0.5rem;
  }
}

.main__organizers-sub::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 10px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #272a31;
}

.main__organizers-about {
  font-size: 0.7rem;
  line-height: 1rem;
  padding-top: 0.8rem;
}

@media screen and (min-width: 768px) {
  .main__organizers-about {
    font-size: 0.4rem;
  }
}

@media screen and (min-width: 900px) {
  .main__organizers-about {
    font-size: 0.5rem;
  }
}

.desk-flex {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.desk-flex div {
  padding: 0 0.5rem;
}

.main__program {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/second-bg.jpg");
  background-size: 100%;
  position: relative;
  color: white;
  overflow-x: hidden;
}

.main__program-heading {
  margin: 1rem 0;
}

.main__program-heading h1,
.main__program-heading h2 {
  word-spacing: 0.3rem;
  font-weight: 400;
  font-size: 1.5rem;
  display: inline-block;
  padding-bottom: 0.5rem;
  position: relative;
}

.main__program-heading h1::after,
.main__program-heading h2::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 10px;
  bottom: 0;
  left: 25%;
  border-bottom: 2px solid #ec5242;
}

.main__program-body {
  display: flex;
  flex-direction: column;
}

.main__program-body__icon {
  padding: 0 1rem;
  font-size: 1.3rem;

  --fa-primary-color: white;
  --fa-secondary-color: rgb(236, 82, 66);
  --fa-secondary-opacity: 1;
}

.main__program-body__header {
  padding: 0 1rem;
  color: #ec5242;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

@media screen and (min-width: 768px) {
  .main__program-body__header {
    text-align: center;
    line-height: 1rem;
    padding-bottom: 1rem;
  }
}

.main__program-body__text {
  padding: 0 0.5rem;
  font-size: 0.7rem;
  line-height: 1.3rem;
}

@media screen and (min-width: 768px) {
  .main__program-body__text {
    line-height: 1rem;
    text-align: center;
  }
}

.main__program-body__1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0;
  flex-shrink: 1;
  background-color: #ffffff1f;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .main__program-body__1 {
    flex-direction: column;
    width: auto;
    margin-right: 0.3rem;
  }
}

@media screen and (min-width: 768px) {
  .main__program-body {
    flex-direction: row;
  }
}

.sponsors {
  text-align: center;
}

.sponsors__div {
  width: 100%;
  margin: 1rem 0;
}

.sponsors__div-logo {
  max-width: 170px;
  padding-left: 1.7rem;
}

@media screen and (min-width: 320px) {
  .sponsors__div-logo {
    width: 20%;
  }
}

.sponsors__div-logo__3 {
  width: 120px;
  padding-left: 1.7rem;
}

@media screen and (max-width: 570px) {
  .sponsors__div-logo__3 {
    width: 80px;
  }
}

.navbar__top {
  background-color: #272a31;
  color: white;
  display: flex;
  padding: 0.3rem 2rem;
  justify-content: flex-end;
  font-size: 0.7rem;
}

.navbar__top--icons {
  padding-right: 0.5rem;
}

.navbar__top--icons i {
  padding-right: 1rem;
}

.grid-container p {
  text-align: center;
}

.about__brand p {
  font-size: 0.85rem;
}

.about-past__desp p {
  font-size: 0.85rem;
}

.about-top__contact p {
  text-decoration: underline;
  font-weight: 600;
}

.navbar__top p:not(:last-child) {
  padding-right: 1.2rem;
}

.navbar__bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
}

.navbar__bottom--logo img {
  width: 100px;
}

.navbar__bottom--list {
  display: flex;
  list-style: none;
}

.navbar__bottom--item {
  padding-left: 1.5rem;
}

.navbar__bottom--item a {
  text-decoration: none;
  color: #272a31;
  font-size: 0.8rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}

.navbar__bottom--item a:hover,
.navbar__bottom--item a:active {
  color: #ec5242;
  border: 2px solid #ec5242;
  padding: 0.5rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
}

.navigation {
  height: 15vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0.87)), url("../assets/concert.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 2.4rem;
  left: -0.5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.navigation__background {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  top: 2.4rem;
  left: 2.8rem;
  background-image: linear-gradient(#d3d3d3, #ec5242);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.navigation__icon {
  position: relative;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
  width: 2.5rem;
  height: 10px;
  background-color: #272a31;
  display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.navigation__icon::before {
  top: -0.8rem;
}

.navigation__icon::after {
  top: 0.8rem;
}

.navigation__list {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -5%);
  list-style: none;
  text-align: center;
  -webkit-transform: translate(-50%, -5%);
  -moz-transform: translate(-50%, -5%);
  -ms-transform: translate(-50%, -5%);
  -o-transform: translate(-50%, -5%);
}

.navigation__item {
  margin-top: 1rem;
}

.navigation__link:link,
.navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 0.3rem 1rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 230%;
  transition: all 0.4s;
}

.navigation__link:link span,
.navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}

.navigation__link:hover,
.navigation__link:active {
  background-position: 100%;
  color: #ec5242;
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
}

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(250);
  -webkit-transform: scale(250);
  -moz-transform: scale(250);
  -ms-transform: scale(250);
  -o-transform: scale(250);
}

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1;
}

.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}

.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: none;
  }
}

.tickets {
  background-color: #f5f5f5;
}

.tickets__title {
  padding: 0.4rem 1rem;
  border: 1px solid #272a31;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-size: 0.7rem;
}

.tickets__container {
  border: 4px solid transparent;
  border-image: url("../assets/border-img.jpg") 30 round;
  margin: 1.5rem 0;
}

.tickets__item {
  padding: 0 1.6rem;
}

.btn-2 {
  background-color: white;
  color: #ec5242;
  border: 1px solid #ec5242;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  margin-bottom: 1rem;
}

.btn-2:hover {
  cursor: pointer;
  background-color: #ec5242;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0 0;
  border: 1px solid #f5f5f5;
  background-color: white;
  grid-template-areas: ". . . ." ". . . ." ". . . ." ". . . ." ". . . .";
  width: inherit;
}

.grid-container h4 {
  padding: 0.2rem 2.5rem;
}

.grid-container .date {
  font-size: 0.8rem;
}

.grid-container .date span {
  font-size: 0.5rem;
  padding-top: -1rem;
}

.grid-container .venue {
  font-size: 0.8rem;
}

.radio {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  font-size: 0.7rem;
  color: #ec5242;
}

.dark {
  background-color: #dfdfdf;
  border: 1px solid #e6e6e6;
}

.midark {
  background-color: white;
  border: 1px solid #e6e6e6;
}

.light {
  background-color: white;
  border: 1px solid #e6e6e6;
}

.about {
  height: 80vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.699), rgba(255, 255, 255, 0.699)), url("../assets/top-bg.jpg");
  background-size: 100%;
  background-position: center;
}

.about__brand {
  text-align: center;
  word-wrap: break-word;
}

@media screen and (min-width: 768px) {
  .about-past-img {
    display: flex;
  }
}

.about-past {
  border-top: 1px solid #d3d3d3;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .about-past {
    display: flex;
  }
}

.about-past__desp {
  margin-bottom: 1.5rem;
}

.about-past__events {
  width: 400px;
  height: 200px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .about-past__events {
    padding: 0 1rem;
  }
}

.about-past__events-img1 {
  background-image: linear-gradient(rgba(236, 82, 65, 0.712), rgba(236, 82, 65, 0.712)), url("../assets/spain.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: inherit;
}

.about-past__events-img2 {
  background-image: linear-gradient(rgba(236, 82, 65, 0.712), rgba(236, 82, 65, 0.712)), url("../assets/japan.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: inherit;
}

.about-past__events-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding-top: 1.8rem;
  color: white;
}

@media screen and (min-width: 320px) {
  .about-past__events-text {
    font-size: 1.4rem;
    padding-top: 2.3rem;
  }
}

@media screen and (min-width: 768px) {
  .about-past__events-text {
    font-size: 1rem;
    padding-top: 1.4rem;
  }
}

.about-top {
  text-align: center;
}

.about-top__text-2 {
  text-align: center;
}

.about-top__description {
  background-color: white;
  border: 1px solid #272a31;
}

.about-top__contact {
  margin-top: 1rem;
  padding: 0.5rem 0.7rem;
  font-size: 0.9rem;
}

.about-top__heading h3 {
  font-weight: 600;
  text-align: center;
}

.about-top__img {
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
  margin-top: 2.5rem;
  border: 1px solid #f5f5f5;
  width: 320px;
}

.about-top__logo {
  width: 40%;
}
