.footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  height: 200px;
  padding: 2rem 1rem 0 1rem;

  &__logo {
    width: 50%;

    &-img {
      width: 200px;

      @media screen and (min-width: $bp-small) {
        width: 100px;
      }

      @media screen and (min-width: $bp-small) {
        width: 150px;
      }
    }
  }

  &__text {
    font-size: 0.6rem;
  }
}
