.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 200px;
    padding: 2rem 1rem 0 1rem;

    &__logo {
        width: 50%;

        &-img {
            width: 200px;
        }
    }

    &__text {
        font-size: .6rem;
    }
}