.tickets {

    &__body {
        width: 100%;
    }

    &__title {
        border: 1px solid $color-tertiary;
        padding: .3rem 1.2rem;
        border-radius: 50px;
        margin-bottom: 2rem;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}

    &__option {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        border-bottom: 1.5px solid $color-primary;
        padding-bottom: .5rem;
        
        div {
            padding: .3rem 0;
        }
    }

    &__date{
        color: $color-secondary;

        span {
            color: $color-tertiary;
            font-size: .7rem;
            padding-left: 1rem;
        }
    }

    &__venue {
        font-weight: bold;

        em {
            color: $color-secondary;
            font-weight: lighter;
            font-size: .8rem;
        }
    }

    &__button {
        .btn-2 {
            background-color: white;
            color: $color-secondary;
            border: 1px solid $color-secondary;
            padding: .5rem 1.5rem;
            font-size: 1rem;
            font-weight: bold;
        }
    }
}